src/jade/assortment.jade
extends template/template

block content
	//BEGIN breadcrumbs
	.breadcrumbs
		.wrapper
			.breadcrumbs-inset
				a(href="#").breadcrumb-inset__link Главная
				span.breadcrumbs-inset__active Ассортимент
	//END breadcrumbs
	
	.default__block
		.wrapper
			.default__title.assortment__title.default__title--upper
				h1 Ассортимент
			.assortment-wrap
				ul.assortment-nav
					li.js-accordion
						a(href="#") Разливное пиво
						ul.assortment-nav__dropdown
							li: a(href="#") Темное пиво
							li: a(href="#") Светлое пиво
					li: a(href="#") Бутылочное пиво
					li.js-accordion
						a(href="#") Безалкогольные напитки
						ul.assortment-nav__dropdown
							li: a(href="#") Темное пиво
							li: a(href="#") Светлое пиво
					li: a(href="#") Снэки
				.assortment-catalog
					.assortment-item
						.assortment-item__img
							img(src="/images/assortment-img-1.png", alt="assortment-item")
						.assortment-item__content
							.assortment-item__title
								.assortment-item__name
									span «Жигулевское»
								.assortment-item__type
									span Светлое, пастеризованное
							.assortment-item__text
								.assortment-item__describe
									p Использование технологии "сухого охмеления" при производстве пива позволяет получить сбалансированную горечь и насыщенный аромат хмеля, что невозможно достигнуть в традиционной технологии пивоварения. Пиво настоящее, вкусное, крафтовое - это его основное достоинство!					
								.assortment-item__price
									.assortment-item__number
										span 78
									.assortment-item__currency
										span руб./л
							.assortment-item__consist
								span Плотность: 12%
								span Алкоголь: 4,5%

					
					.assortment-item
						.assortment-item__img
							img(src="/images/assortment-img-2.png", alt="assortment-item")
						.assortment-item__content
							.assortment-item__title
								.assortment-item__name
									span Guinness Draught
								.assortment-item__type
									span Светлое, пастеризованное
							.assortment-item__text
								.assortment-item__describe
									p Использование технологии "сухого охмеления" при производстве пива позволяет получить сбалансированную горечь и насыщенный аромат хмеля, что невозможно достигнуть в традиционной технологии пивоварения. Пиво настоящее, вкусное, крафтовое - это его основное достоинство!					
								.assortment-item__price
									.assortment-item__number
										span 107
									.assortment-item__currency
										span руб./л
							.assortment-item__consist
								span Плотность: 12%
								span Алкоголь: 4,5%

					
					.assortment-item
						.assortment-item__img
							img(src="/images/assortment-img-3.png", alt="assortment-item")
						.assortment-item__content
							.assortment-item__title
								.assortment-item__name
									span Лидское Тёмное Бархатное
								.assortment-item__type
									span Светлое, пастеризованное
							.assortment-item__text
								.assortment-item__describe
									p Использование технологии "сухого охмеления" при производстве пива позволяет получить сбалансированную горечь и насыщенный аромат хмеля, что невозможно достигнуть в традиционной технологии пивоварения. Пиво настоящее, вкусное, крафтовое - это его основное достоинство!					
								.assortment-item__price
									.assortment-item__number
										span 275
									.assortment-item__currency
										span руб./л
							.assortment-item__consist
								span Плотность: 12%
								span Алкоголь: 4,5%

					//BEGIN pagination
					.pagination					
						.pagination-inset
							a(href="#").pagination-inset__prev
							span.pagination-inset__active 1
							a(href="#").pagination-link.pagination-inset__page 2
							a(href="#").pagination-link.pagination-inset__page 3
							a(href="#").pagination-link.pagination-inset__page 4
							a(href="#").pagination-link.pagination-inset__page 5
							a(href="#").pagination-inset__next
				//END pagination

			.default-content-block
				.default-content-block__title
					h2 Пиво настоящее, вкусное, крафтовое - это его основное достоинство!
				.default-content-block__text
					p Социальная парадигма, несмотря на внешние воздействия, очевидна не для всех. Конституционная демократия, согласно традиционным представлениям, однозначно определяет эмпирический элемент политического процесса.

					p Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций. 

					p Занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании систем массового участия. Не следует, однако забывать, что реализация намеченных плановых заданий требуют определения и уточнения систем массового участия.

build/html/assortment.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Aidar FrontEnd">
    <meta name="author" content="Aidar">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/vendor.min.css">
    <link rel="stylesheet" href="/css/common.min.css">
    <title>Beer</title>
  </head>
  <body>
    <!--BEGIN preloader-->
    <div id="js-preloader" class="preloader">
      <div class="preloader__spinner"></div>
    </div>
    <!--END preloader-->
    <!-- BEGIN header-->
    <div class="wrapper-bg">
      <header class="header">
        <div class="wrapper">
          <div class="header-top"><span class="header-worktime">Время работы ПН-ВС с 11 до 23 ч.</span>
            <div class="header-social"><a href="#" target="_blank" class="header-social__logo insta"></a><a href="#" target="_blank" class="header-social__logo ok"></a><a href="#" target="_blank" class="header-social__logo vk"></a><a href="#" target="_blank" class="header-social__logo facebook"></a></div><span class="header-phone">+7 (915) 742-78-35</span>
          </div>
          <ul class="header-nav">
            <li><a href="/">Главная</a></li>
            <li><a href="/">Ассортимент</a></li>
            <li><a href="/">Адреса магазинов</a></li>
            <li><a href="/">Акции</a></li>
            <li><a href="/">Новости</a></li>
            <li><a href="/">Доставка</a></li>
          </ul>
          <div class="header-logo"><img src="/images/logo.png" alt="Логотип" class="header-logo__img"></div>
        </div>
      </header>
      <!--END header-->
      <!-- BEGIN main-->
      <div class="main">
        <!--BEGIN breadcrumbs-->
        <div class="breadcrumbs">
          <div class="wrapper">
            <div class="breadcrumbs-inset"><a href="#" class="breadcrumb-inset__link">Главная</a><span class="breadcrumbs-inset__active">Ассортимент</span></div>
          </div>
        </div>
        <!--END breadcrumbs-->
        <div class="default__block">
          <div class="wrapper">
            <div class="default__title assortment__title default__title--upper">
              <h1>Ассортимент</h1>
            </div>
            <div class="assortment-wrap">
              <ul class="assortment-nav">
                <li class="js-accordion"><a href="#">Разливное пиво</a>
                  <ul class="assortment-nav__dropdown">
                    <li><a href="#">Темное пиво</a></li>
                    <li><a href="#">Светлое пиво</a></li>
                  </ul>
                </li>
                <li><a href="#">Бутылочное пиво</a></li>
                <li class="js-accordion"><a href="#">Безалкогольные напитки</a>
                  <ul class="assortment-nav__dropdown">
                    <li><a href="#">Темное пиво</a></li>
                    <li><a href="#">Светлое пиво</a></li>
                  </ul>
                </li>
                <li><a href="#">Снэки</a></li>
              </ul>
              <div class="assortment-catalog">
                <div class="assortment-item">
                  <div class="assortment-item__img"><img src="/images/assortment-img-1.png" alt="assortment-item"></div>
                  <div class="assortment-item__content">
                    <div class="assortment-item__title">
                      <div class="assortment-item__name"><span>«Жигулевское»</span></div>
                      <div class="assortment-item__type"><span>Светлое, пастеризованное</span></div>
                    </div>
                    <div class="assortment-item__text">
                      <div class="assortment-item__describe">
                        <p>Использование технологии "сухого охмеления" при производстве пива позволяет получить сбалансированную горечь и насыщенный аромат хмеля, что невозможно достигнуть в традиционной технологии пивоварения. Пиво настоящее, вкусное, крафтовое - это его основное достоинство!					</p>
                      </div>
                      <div class="assortment-item__price">
                        <div class="assortment-item__number"><span>78</span></div>
                        <div class="assortment-item__currency"><span>руб./л</span></div>
                      </div>
                    </div>
                    <div class="assortment-item__consist"><span>Плотность: 12%</span><span>Алкоголь: 4,5%</span></div>
                  </div>
                </div>
                <div class="assortment-item">
                  <div class="assortment-item__img"><img src="/images/assortment-img-2.png" alt="assortment-item"></div>
                  <div class="assortment-item__content">
                    <div class="assortment-item__title">
                      <div class="assortment-item__name"><span>Guinness Draught</span></div>
                      <div class="assortment-item__type"><span>Светлое, пастеризованное</span></div>
                    </div>
                    <div class="assortment-item__text">
                      <div class="assortment-item__describe">
                        <p>Использование технологии "сухого охмеления" при производстве пива позволяет получить сбалансированную горечь и насыщенный аромат хмеля, что невозможно достигнуть в традиционной технологии пивоварения. Пиво настоящее, вкусное, крафтовое - это его основное достоинство!					</p>
                      </div>
                      <div class="assortment-item__price">
                        <div class="assortment-item__number"><span>107</span></div>
                        <div class="assortment-item__currency"><span>руб./л</span></div>
                      </div>
                    </div>
                    <div class="assortment-item__consist"><span>Плотность: 12%</span><span>Алкоголь: 4,5%</span></div>
                  </div>
                </div>
                <div class="assortment-item">
                  <div class="assortment-item__img"><img src="/images/assortment-img-3.png" alt="assortment-item"></div>
                  <div class="assortment-item__content">
                    <div class="assortment-item__title">
                      <div class="assortment-item__name"><span>Лидское Тёмное Бархатное</span></div>
                      <div class="assortment-item__type"><span>Светлое, пастеризованное</span></div>
                    </div>
                    <div class="assortment-item__text">
                      <div class="assortment-item__describe">
                        <p>Использование технологии "сухого охмеления" при производстве пива позволяет получить сбалансированную горечь и насыщенный аромат хмеля, что невозможно достигнуть в традиционной технологии пивоварения. Пиво настоящее, вкусное, крафтовое - это его основное достоинство!					</p>
                      </div>
                      <div class="assortment-item__price">
                        <div class="assortment-item__number"><span>275</span></div>
                        <div class="assortment-item__currency"><span>руб./л</span></div>
                      </div>
                    </div>
                    <div class="assortment-item__consist"><span>Плотность: 12%</span><span>Алкоголь: 4,5%</span></div>
                  </div>
                </div>
                <!--BEGIN pagination-->
                <div class="pagination">					
                  <div class="pagination-inset"><a href="#" class="pagination-inset__prev"></a><span class="pagination-inset__active">1</span><a href="#" class="pagination-link pagination-inset__page">2</a><a href="#" class="pagination-link pagination-inset__page">3</a><a href="#" class="pagination-link pagination-inset__page">4</a><a href="#" class="pagination-link pagination-inset__page">5</a><a href="#" class="pagination-inset__next"></a></div>
                </div>
              </div>
              <!--END pagination-->
            </div>
            <div class="default-content-block">
              <div class="default-content-block__title">
                <h2>Пиво настоящее, вкусное, крафтовое - это его основное достоинство!</h2>
              </div>
              <div class="default-content-block__text">
                <p>Социальная парадигма, несмотря на внешние воздействия, очевидна не для всех. Конституционная демократия, согласно традиционным представлениям, однозначно определяет эмпирический элемент политического процесса.</p>
                <p>Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций. </p>
                <p>Занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании систем массового участия. Не следует, однако забывать, что реализация намеченных плановых заданий требуют определения и уточнения систем массового участия.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END main-->
      <!-- BEGIN footer-->
      <footer class="footer">
        <div class="wrapper">
          <div class="footer-wrap">
            <div class="footer-old"><img src="/images/icons/18+.png" alt="18+" class="footer-old__icon"></div>
            <ul class="footer-nav">
              <li><a href="#ask-1" class="popup-with-move-anim">Главная</a></li>
              <li><a href="#ask-2" class="popup-with-move-anim">Ассортимент</a></li>
              <li><a href="/">Адреса магазинов</a></li>
              <li><a href="/">Акции</a></li>
              <li><a href="/">Новости</a></li>
              <li><a href="/">Доставка</a></li>
            </ul>
            <div class="footer-address"><span class="footer-address__title">Адреса магазинов:</span>
              <ul class="footer-address__item">
                <li>ул. Пушкина, д. 3</li>
                <li>ул. Карла Маркса, д.5, стр.4</li>
                <li>ул. Карла Маркса, д.5, стр.4</li>
              </ul>
            </div>
            <div class="footer-callback"><span class="footer-callback__worktime">Время работы ПН-ВС с 11 до 23 ч.</span><span class="footer-callback__phone">+7 (000) 111-22-33</span><a href="#" class="footer-callback__mail">info@damainame.ru</a></div>
            <div class="footer-social">
              <div class="footer-social-icons"><a href="#" target="_blank" class="footer-social__logo insta"></a><a href="#" target="_blank" class="footer-social__logo ok"></a><a href="#" target="_blank" class="footer-social__logo vk"></a><a href="#" target="_blank" class="footer-social__logo facebook"></a></div>
              <div class="footer-webdev"><img src="/images/icons/web-studio-logo.png" alt="web-agency-logo"><span class="footer-webdev__text">Сайт создан <br> в Hawking Brothers</span></div>
            </div>
          </div>
        </div>
      </footer>
      <!-- END footer-->
      <!-- BEGIN popup-->
      <div id="ask-1" class="popup zoom-anim-dialog mfp-hide">
        <div class="popup__title"><span>Проверка возраста</span></div>
        <div class="popup__ask"><span>Вам уже есть 18 лет?</span></div>
        <div class="popup-buttons"><a href="#" class="btn btn--light">Да</a><a href="#" class="btn btn--light">Нет</a></div>
      </div>
      <div id="ask-2" class="popup zoom-anim-dialog mfp-hide">
        <div class="popup__title"><span>Извините, сайт доступен только для совершеннолетних</span></div>
        <div class="popup__ask"><span>Вам уже есть 18 лет?</span></div>
        <div class="popup-buttons"><a href="#" class="btn btn--light">Да</a><a href="#" class="btn btn--light">Нет</a></div>
      </div>
      <!-- END popup-->
      <!-- BEGIN vendor scripts-->
      <script src="/vendor/jquery/dist/jquery.min.js"></script>
      <script src="/vendor/swiper/dist/js/swiper.min.js"></script>
      <script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
      <script src="/vendor/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
      <script src="/vendor/owl.carousel/dist/owl.carousel.min.js"></script>
      <script src="https://use.fontawesome.com/d419eefe85.js"></script>
      <script src="http://api-maps.yandex.ru/2.1.17/?lang=ru_RU" type="text/javascript"></script>
      <!-- END vendor scripts-->
      <!-- BEGIN common.js-->
      <script src="/scripts/common.min.js"></script>
      <!-- END common.js-->
    </div>
  </body>
</html>
