src/jade/index.jade
extends template/template

block content

	//BEGIN slider
	
	#js-slider.slider.owl-carousel		
		.slider-item-1.slide-item
			.wrapper
				.slide-content
					.slide-card
						span.slide-card__text Купи 2 литра любого пива
						small.slide-card__text--small и получи гренки в подарок!
					.slide-button
						a(href="#").btn.btn--big.btn--yellow Подробнее

		.slider-item-1.slide-item
			.wrapper
				.slide-content
					.slide-card
						span.slide-card__text Купи 2 литра любого пива
						small.slide-card__text--small и получи гренки в подарок!
					.slide-button
						a(href="#").btn.btn--big.btn--yellow Подробнее
	//END slider

	//BEGIN assortment
	.assortment.default__block
		.wrapper
			.default__title.assortment_title.default__title--upper
				span Наш ассортимент
			.assortment-items
				.assortment-card
					.assortment-logo
						img(src="/images/icons/assortiment-icon1.png", alt="assortment")
					span.assortment-title Разливное пиво					 
					p.assortment-describe Более 30 сортов разливного пива

				.assortment-card
					.assortment-logo
						img(src="/images/icons/assortiment-icon2.png", alt="assortment")
					span.assortment-title Бутылочное пиво					 
					p.assortment-describe Более 20 сортов бутылочного пива

				.assortment-card
					.assortment-logo
						img(src="/images/icons/assortiment-icon3.png", alt="assortment")
					span.assortment-title Закуски и снеки				 
					p.assortment-describe Рыбка, чипсы, арахис и др.

				.assortment-card
					.assortment-logo
						img(src="/images/icons/assortiment-icon4.png", alt="assortment")
					span.assortment-title Безалкогольные напитки				 
					p.assortment-describe Квас, лимонад
			.default-button-wrap
				a(href="#").btn.btn--light Весь ассортимент

	//END assortment

	//BEGIN info
	
	.info.default__block
		.wrapper
			.info-cards
				.info-about
					.info__title.default__title						
						span О магазине
					.info-text
						p Социальная парадигма, несмотря на внешние воздействия, очевидна не для всех. Конституционная демократия, согласно традиционным представлениям, однозначно определяет эмпирический элемент политического процесса.
						p Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций.
						
					.info-tagline
						p Совместное распитие пива – вот что делает мужскую дружбу прочной, как сталь!
					.default-button-wrap
						a(href="#").btn.btn--light Адреса магазинов
				.info-news
					.info__title.default__title 
						span Новости
					.info-news-wrap
						.info-news-item
							span.info-news-item__date 13.03.17
							a(href="#").info-news-item__text «ОПОРА России»: после поправок к закону «О торговле» наценка ритейлеров увеличилась почти в 2 раза
							.info-news-item__link
								a(href="#").btn--more
						.info-news-item
							span.info-news-item__date 13.03.17
							a(href="#").info-news-item__text В продаже появилось бутолочное пиво "Василеостровской" пивоварни!
							.info-news-item__link
								a(href="#").btn--more
						.info-news-item
							span.info-news-item__date 13.03.17
							a(href="#").info-news-item__text Закон о запрете скидок на алкоголь – позиции заинтересованных сторон
							.info-news-item__link
								a(href="#").btn--more
					.default-button-wrap
						a(href="#").btn.btn--light Все новости


	//END info

build/html/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Aidar FrontEnd">
    <meta name="author" content="Aidar">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/vendor.min.css">
    <link rel="stylesheet" href="/css/common.min.css">
    <title>Beer</title>
  </head>
  <body>
    <!--BEGIN preloader-->
    <div id="js-preloader" class="preloader">
      <div class="preloader__spinner"></div>
    </div>
    <!--END preloader-->
    <!-- BEGIN header-->
    <div class="wrapper-bg">
      <header class="header">
        <div class="wrapper">
          <div class="header-top"><span class="header-worktime">Время работы ПН-ВС с 11 до 23 ч.</span>
            <div class="header-social"><a href="#" target="_blank" class="header-social__logo insta"></a><a href="#" target="_blank" class="header-social__logo ok"></a><a href="#" target="_blank" class="header-social__logo vk"></a><a href="#" target="_blank" class="header-social__logo facebook"></a></div><span class="header-phone">+7 (915) 742-78-35</span>
          </div>
          <ul class="header-nav">
            <li><a href="/">Главная</a></li>
            <li><a href="/">Ассортимент</a></li>
            <li><a href="/">Адреса магазинов</a></li>
            <li><a href="/">Акции</a></li>
            <li><a href="/">Новости</a></li>
            <li><a href="/">Доставка</a></li>
          </ul>
          <div class="header-logo"><img src="/images/logo.png" alt="Логотип" class="header-logo__img"></div>
        </div>
      </header>
      <!--END header-->
      <!-- BEGIN main-->
      <div class="main">
        <!--BEGIN slider-->
        <div id="js-slider" class="slider owl-carousel">		
          <div class="slider-item-1 slide-item">
            <div class="wrapper">
              <div class="slide-content">
                <div class="slide-card"><span class="slide-card__text">Купи 2 литра любого пива</span><small class="slide-card__text--small">и получи гренки в подарок!</small></div>
                <div class="slide-button"><a href="#" class="btn btn--big btn--yellow">Подробнее</a></div>
              </div>
            </div>
          </div>
          <div class="slider-item-1 slide-item">
            <div class="wrapper">
              <div class="slide-content">
                <div class="slide-card"><span class="slide-card__text">Купи 2 литра любого пива</span><small class="slide-card__text--small">и получи гренки в подарок!</small></div>
                <div class="slide-button"><a href="#" class="btn btn--big btn--yellow">Подробнее</a></div>
              </div>
            </div>
          </div>
        </div>
        <!--END slider-->
        <!--BEGIN assortment-->
        <div class="assortment default__block">
          <div class="wrapper">
            <div class="default__title assortment_title default__title--upper"><span>Наш ассортимент</span></div>
            <div class="assortment-items">
              <div class="assortment-card">
                <div class="assortment-logo"><img src="/images/icons/assortiment-icon1.png" alt="assortment"></div><span class="assortment-title">Разливное пиво					 </span>
                <p class="assortment-describe">Более 30 сортов разливного пива</p>
              </div>
              <div class="assortment-card">
                <div class="assortment-logo"><img src="/images/icons/assortiment-icon2.png" alt="assortment"></div><span class="assortment-title">Бутылочное пиво					 </span>
                <p class="assortment-describe">Более 20 сортов бутылочного пива</p>
              </div>
              <div class="assortment-card">
                <div class="assortment-logo"><img src="/images/icons/assortiment-icon3.png" alt="assortment"></div><span class="assortment-title">Закуски и снеки				 </span>
                <p class="assortment-describe">Рыбка, чипсы, арахис и др.</p>
              </div>
              <div class="assortment-card">
                <div class="assortment-logo"><img src="/images/icons/assortiment-icon4.png" alt="assortment"></div><span class="assortment-title">Безалкогольные напитки				 </span>
                <p class="assortment-describe">Квас, лимонад</p>
              </div>
            </div>
            <div class="default-button-wrap"><a href="#" class="btn btn--light">Весь ассортимент</a></div>
          </div>
        </div>
        <!--END assortment-->
        <!--BEGIN info-->
        <div class="info default__block">
          <div class="wrapper">
            <div class="info-cards">
              <div class="info-about">
                <div class="info__title default__title">						<span>О магазине</span></div>
                <div class="info-text">
                  <p>Социальная парадигма, несмотря на внешние воздействия, очевидна не для всех. Конституционная демократия, согласно традиционным представлениям, однозначно определяет эмпирический элемент политического процесса.</p>
                  <p>Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций.</p>
                </div>
                <div class="info-tagline">
                  <p>Совместное распитие пива – вот что делает мужскую дружбу прочной, как сталь!</p>
                </div>
                <div class="default-button-wrap"><a href="#" class="btn btn--light">Адреса магазинов</a></div>
              </div>
              <div class="info-news">
                <div class="info__title default__title"> <span>Новости</span></div>
                <div class="info-news-wrap">
                  <div class="info-news-item"><span class="info-news-item__date">13.03.17</span><a href="#" class="info-news-item__text">«ОПОРА России»: после поправок к закону «О торговле» наценка ритейлеров увеличилась почти в 2 раза</a>
                    <div class="info-news-item__link"><a href="#" class="btn--more"></a></div>
                  </div>
                  <div class="info-news-item"><span class="info-news-item__date">13.03.17</span><a href="#" class="info-news-item__text">В продаже появилось бутолочное пиво "Василеостровской" пивоварни!</a>
                    <div class="info-news-item__link"><a href="#" class="btn--more"></a></div>
                  </div>
                  <div class="info-news-item"><span class="info-news-item__date">13.03.17</span><a href="#" class="info-news-item__text">Закон о запрете скидок на алкоголь – позиции заинтересованных сторон</a>
                    <div class="info-news-item__link"><a href="#" class="btn--more"></a></div>
                  </div>
                </div>
                <div class="default-button-wrap"><a href="#" class="btn btn--light">Все новости</a></div>
              </div>
            </div>
          </div>
        </div>
        <!--END info-->
      </div>
      <!-- END main-->
      <!-- BEGIN footer-->
      <footer class="footer">
        <div class="wrapper">
          <div class="footer-wrap">
            <div class="footer-old"><img src="/images/icons/18+.png" alt="18+" class="footer-old__icon"></div>
            <ul class="footer-nav">
              <li><a href="#ask-1" class="popup-with-move-anim">Главная</a></li>
              <li><a href="#ask-2" class="popup-with-move-anim">Ассортимент</a></li>
              <li><a href="/">Адреса магазинов</a></li>
              <li><a href="/">Акции</a></li>
              <li><a href="/">Новости</a></li>
              <li><a href="/">Доставка</a></li>
            </ul>
            <div class="footer-address"><span class="footer-address__title">Адреса магазинов:</span>
              <ul class="footer-address__item">
                <li>ул. Пушкина, д. 3</li>
                <li>ул. Карла Маркса, д.5, стр.4</li>
                <li>ул. Карла Маркса, д.5, стр.4</li>
              </ul>
            </div>
            <div class="footer-callback"><span class="footer-callback__worktime">Время работы ПН-ВС с 11 до 23 ч.</span><span class="footer-callback__phone">+7 (000) 111-22-33</span><a href="#" class="footer-callback__mail">info@damainame.ru</a></div>
            <div class="footer-social">
              <div class="footer-social-icons"><a href="#" target="_blank" class="footer-social__logo insta"></a><a href="#" target="_blank" class="footer-social__logo ok"></a><a href="#" target="_blank" class="footer-social__logo vk"></a><a href="#" target="_blank" class="footer-social__logo facebook"></a></div>
              <div class="footer-webdev"><img src="/images/icons/web-studio-logo.png" alt="web-agency-logo"><span class="footer-webdev__text">Сайт создан <br> в Hawking Brothers</span></div>
            </div>
          </div>
        </div>
      </footer>
      <!-- END footer-->
      <!-- BEGIN popup-->
      <div id="ask-1" class="popup zoom-anim-dialog mfp-hide">
        <div class="popup__title"><span>Проверка возраста</span></div>
        <div class="popup__ask"><span>Вам уже есть 18 лет?</span></div>
        <div class="popup-buttons"><a href="#" class="btn btn--light">Да</a><a href="#" class="btn btn--light">Нет</a></div>
      </div>
      <div id="ask-2" class="popup zoom-anim-dialog mfp-hide">
        <div class="popup__title"><span>Извините, сайт доступен только для совершеннолетних</span></div>
        <div class="popup__ask"><span>Вам уже есть 18 лет?</span></div>
        <div class="popup-buttons"><a href="#" class="btn btn--light">Да</a><a href="#" class="btn btn--light">Нет</a></div>
      </div>
      <!-- END popup-->
      <!-- BEGIN vendor scripts-->
      <script src="/vendor/jquery/dist/jquery.min.js"></script>
      <script src="/vendor/swiper/dist/js/swiper.min.js"></script>
      <script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
      <script src="/vendor/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
      <script src="/vendor/owl.carousel/dist/owl.carousel.min.js"></script>
      <script src="https://use.fontawesome.com/d419eefe85.js"></script>
      <script src="http://api-maps.yandex.ru/2.1.17/?lang=ru_RU" type="text/javascript"></script>
      <!-- END vendor scripts-->
      <!-- BEGIN common.js-->
      <script src="/scripts/common.min.js"></script>
      <!-- END common.js-->
    </div>
  </body>
</html>
