build/html/news-item.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Aidar FrontEnd">
    <meta name="author" content="Aidar">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/vendor.min.css">
    <link rel="stylesheet" href="/css/common.min.css">
    <title>Beer</title>
  </head>
  <body>
    <!--BEGIN preloader-->
    <div id="js-preloader" class="preloader">
      <div class="preloader__spinner"></div>
    </div>
    <!--END preloader-->
    <!-- BEGIN header-->
    <div class="wrapper-bg">
      <header class="header">
        <div class="wrapper">
          <div class="header-top"><span class="header-worktime">Время работы ПН-ВС с 11 до 23 ч.</span>
            <div class="header-social"><a href="#" target="_blank" class="header-social__logo insta"></a><a href="#" target="_blank" class="header-social__logo ok"></a><a href="#" target="_blank" class="header-social__logo vk"></a><a href="#" target="_blank" class="header-social__logo facebook"></a></div><span class="header-phone">+7 (915) 742-78-35</span>
          </div>
          <ul class="header-nav">
            <li><a href="/">Главная</a></li>
            <li><a href="/">Ассортимент</a></li>
            <li><a href="/">Адреса магазинов</a></li>
            <li><a href="/">Акции</a></li>
            <li><a href="/">Новости</a></li>
            <li><a href="/">Доставка</a></li>
          </ul>
          <div class="header-logo"><img src="/images/logo.png" alt="Логотип" class="header-logo__img"></div>
        </div>
      </header>
      <!--END header-->
      <!-- BEGIN main-->
      <div class="main">
        <!--BEGIN breadcrumbs-->
        <div class="breadcrumbs">
          <div class="wrapper">
            <div class="breadcrumbs-inset"><a href="#" class="breadcrumb-inset__link">Главная</a><a href="#" class="breadcrumb-inset__link">Новости</a><span class="breadcrumbs-inset__active">Пиво "Василеостровской" пивоварни!</span></div>
          </div>
        </div>
        <!--END breadcrumbs-->
        <!--BEGIN news_item	-->
        <div class="wrapper">
          <div class="news-item-wrap">
            <div class="news-item">
              <div class="news-item__img"><img src="/images/single-news-img.jpg" alt=""></div>
              <div class="news-item__title">
                <h1>В продаже появилось бутолочное пиво "Василеостровской" пивоварни!</h1>
              </div>
              <div class="news-item__date"><span>13.03.2017</span></div>
              <div class="news-item__content">
                <p>Социальная парадигма, несмотря на внешние воздействия, очевидна не для всех. Конституционная демократия, согласно традиционным представлениям, однозначно определяет эмпирический элемент политического процесса.</p>
                <p>Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций.</p>
                <p>Занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании систем массового участия. Не следует, однако забывать, что реализация намеченных плановых заданий требуют определения и уточнения систем массового участия.					</p>
                <p>Социальная парадигма, несмотря на внешние воздействия, очевидна не для всех. Конституционная демократия, согласно традиционным представлениям, однозначно определяет эмпирический элемент политического процесса. Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций.</p>
              </div>
              <div class="news-item__button"><a href="#" class="btn btn--light">Все новости</a></div>
            </div>
            <div class="news-item">
              <div class="news-item__img">				</div>
              <div class="news-item__title">
                <h1>В продаже появилось бутолочное пиво "Василеостровской" пивоварни!				</h1>
              </div>
              <div class="news-item__date"><span>13.03.2017</span></div>
              <div class="news-item__content">
                <p>Социальная парадигма, несмотря на внешние воздействия, очевидна не для всех. Конституционная демократия, согласно традиционным представлениям, однозначно определяет эмпирический элемент политического процесса.</p>
                <p>Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций.</p>
                <p>Занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании систем массового участия. Не следует, однако забывать, что реализация намеченных плановых заданий требуют определения и уточнения систем массового участия.					</p>
              </div>
              <div class="news-item__button"><a href="#" class="btn btn--light">Все новости</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- END main-->
      <!-- BEGIN footer-->
      <footer class="footer">
        <div class="wrapper">
          <div class="footer-wrap">
            <div class="footer-old"><img src="/images/icons/18+.png" alt="18+" class="footer-old__icon"></div>
            <ul class="footer-nav">
              <li><a href="#ask-1" class="popup-with-move-anim">Главная</a></li>
              <li><a href="#ask-2" class="popup-with-move-anim">Ассортимент</a></li>
              <li><a href="/">Адреса магазинов</a></li>
              <li><a href="/">Акции</a></li>
              <li><a href="/">Новости</a></li>
              <li><a href="/">Доставка</a></li>
            </ul>
            <div class="footer-address"><span class="footer-address__title">Адреса магазинов:</span>
              <ul class="footer-address__item">
                <li>ул. Пушкина, д. 3</li>
                <li>ул. Карла Маркса, д.5, стр.4</li>
                <li>ул. Карла Маркса, д.5, стр.4</li>
              </ul>
            </div>
            <div class="footer-callback"><span class="footer-callback__worktime">Время работы ПН-ВС с 11 до 23 ч.</span><span class="footer-callback__phone">+7 (000) 111-22-33</span><a href="#" class="footer-callback__mail">info@damainame.ru</a></div>
            <div class="footer-social">
              <div class="footer-social-icons"><a href="#" target="_blank" class="footer-social__logo insta"></a><a href="#" target="_blank" class="footer-social__logo ok"></a><a href="#" target="_blank" class="footer-social__logo vk"></a><a href="#" target="_blank" class="footer-social__logo facebook"></a></div>
              <div class="footer-webdev"><img src="/images/icons/web-studio-logo.png" alt="web-agency-logo"><span class="footer-webdev__text">Сайт создан <br> в Hawking Brothers</span></div>
            </div>
          </div>
        </div>
      </footer>
      <!-- END footer-->
      <!-- BEGIN popup-->
      <div id="ask-1" class="popup zoom-anim-dialog mfp-hide">
        <div class="popup__title"><span>Проверка возраста</span></div>
        <div class="popup__ask"><span>Вам уже есть 18 лет?</span></div>
        <div class="popup-buttons"><a href="#" class="btn btn--light">Да</a><a href="#" class="btn btn--light">Нет</a></div>
      </div>
      <div id="ask-2" class="popup zoom-anim-dialog mfp-hide">
        <div class="popup__title"><span>Извините, сайт доступен только для совершеннолетних</span></div>
        <div class="popup__ask"><span>Вам уже есть 18 лет?</span></div>
        <div class="popup-buttons"><a href="#" class="btn btn--light">Да</a><a href="#" class="btn btn--light">Нет</a></div>
      </div>
      <!-- END popup-->
      <!-- BEGIN vendor scripts-->
      <script src="/vendor/jquery/dist/jquery.min.js"></script>
      <script src="/vendor/swiper/dist/js/swiper.min.js"></script>
      <script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
      <script src="/vendor/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
      <script src="/vendor/owl.carousel/dist/owl.carousel.min.js"></script>
      <script src="https://use.fontawesome.com/d419eefe85.js"></script>
      <script src="http://api-maps.yandex.ru/2.1.17/?lang=ru_RU" type="text/javascript"></script>
      <!-- END vendor scripts-->
      <!-- BEGIN common.js-->
      <script src="/scripts/common.min.js"></script>
      <!-- END common.js-->
    </div>
  </body>
</html>

src/jade/news-item.jade
extends template/template

block content
	//BEGIN breadcrumbs
	.breadcrumbs
		.wrapper
			.breadcrumbs-inset
				a(href="#").breadcrumb-inset__link Главная
				a(href="#").breadcrumb-inset__link Новости
				span.breadcrumbs-inset__active Пиво "Василеостровской" пивоварни!
	//END breadcrumbs
	//BEGIN news_item	
	.wrapper
		.news-item-wrap
			.news-item
				.news-item__img
					img(src="/images/single-news-img.jpg", alt="")
				.news-item__title
					h1 В продаже появилось бутолочное пиво "Василеостровской" пивоварни!
				.news-item__date
					span 13.03.2017
				.news-item__content
					p Социальная парадигма, несмотря на внешние воздействия, очевидна не для всех. Конституционная демократия, согласно традиционным представлениям, однозначно определяет эмпирический элемент политического процесса.
					p Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций.
					p Занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании систем массового участия. Не следует, однако забывать, что реализация намеченных плановых заданий требуют определения и уточнения систем массового участия.					
					p Социальная парадигма, несмотря на внешние воздействия, очевидна не для всех. Конституционная демократия, согласно традиционным представлениям, однозначно определяет эмпирический элемент политического процесса. Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций.
				.news-item__button
					a(href="#").btn.btn--light Все новости

			.news-item
				.news-item__img				
				.news-item__title
					h1 В продаже появилось бутолочное пиво "Василеостровской" пивоварни!				
				.news-item__date
					span 13.03.2017
				.news-item__content
					p Социальная парадигма, несмотря на внешние воздействия, очевидна не для всех. Конституционная демократия, согласно традиционным представлениям, однозначно определяет эмпирический элемент политического процесса.
					p Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций.
					p Занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании систем массового участия. Не следует, однако забывать, что реализация намеченных плановых заданий требуют определения и уточнения систем массового участия.					
				.news-item__button
					a(href="#").btn.btn--light Все новости
			
