build/html/template/template.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Aidar FrontEnd">
    <meta name="author" content="Aidar">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/vendor.min.css">
    <link rel="stylesheet" href="/css/common.min.css">
    <title>Beer</title>
  </head>
  <body>
    <!--BEGIN preloader-->
    <div id="js-preloader" class="preloader">
      <div class="preloader__spinner"></div>
    </div>
    <!--END preloader-->
    <!-- BEGIN header-->
    <div class="wrapper-bg">
      <header class="header">
        <div class="wrapper">
          <div class="header-top"><span class="header-worktime">Время работы ПН-ВС с 11 до 23 ч.</span>
            <div class="header-social"><a href="#" target="_blank" class="header-social__logo insta"></a><a href="#" target="_blank" class="header-social__logo ok"></a><a href="#" target="_blank" class="header-social__logo vk"></a><a href="#" target="_blank" class="header-social__logo facebook"></a></div><span class="header-phone">+7 (915) 742-78-35</span>
          </div>
          <ul class="header-nav">
            <li><a href="/">Главная</a></li>
            <li><a href="/">Ассортимент</a></li>
            <li><a href="/">Адреса магазинов</a></li>
            <li><a href="/">Акции</a></li>
            <li><a href="/">Новости</a></li>
            <li><a href="/">Доставка</a></li>
          </ul>
          <div class="header-logo"><img src="/images/logo.png" alt="Логотип" class="header-logo__img"></div>
        </div>
      </header>
      <!--END header-->
      <!-- BEGIN main-->
      <div class="main">
      </div>
      <!-- END main-->
      <!-- BEGIN footer-->
      <footer class="footer">
        <div class="wrapper">
          <div class="footer-wrap">
            <div class="footer-old"><img src="/images/icons/18+.png" alt="18+" class="footer-old__icon"></div>
            <ul class="footer-nav">
              <li><a href="#ask-1" class="popup-with-move-anim">Главная</a></li>
              <li><a href="#ask-2" class="popup-with-move-anim">Ассортимент</a></li>
              <li><a href="/">Адреса магазинов</a></li>
              <li><a href="/">Акции</a></li>
              <li><a href="/">Новости</a></li>
              <li><a href="/">Доставка</a></li>
            </ul>
            <div class="footer-address"><span class="footer-address__title">Адреса магазинов:</span>
              <ul class="footer-address__item">
                <li>ул. Пушкина, д. 3</li>
                <li>ул. Карла Маркса, д.5, стр.4</li>
                <li>ул. Карла Маркса, д.5, стр.4</li>
              </ul>
            </div>
            <div class="footer-callback"><span class="footer-callback__worktime">Время работы ПН-ВС с 11 до 23 ч.</span><span class="footer-callback__phone">+7 (000) 111-22-33</span><a href="#" class="footer-callback__mail">info@damainame.ru</a></div>
            <div class="footer-social">
              <div class="footer-social-icons"><a href="#" target="_blank" class="footer-social__logo insta"></a><a href="#" target="_blank" class="footer-social__logo ok"></a><a href="#" target="_blank" class="footer-social__logo vk"></a><a href="#" target="_blank" class="footer-social__logo facebook"></a></div>
              <div class="footer-webdev"><img src="/images/icons/web-studio-logo.png" alt="web-agency-logo"><span class="footer-webdev__text">Сайт создан <br> в Hawking Brothers</span></div>
            </div>
          </div>
        </div>
      </footer>
      <!-- END footer-->
      <!-- BEGIN popup-->
      <div id="ask-1" class="popup zoom-anim-dialog mfp-hide">
        <div class="popup__title"><span>Проверка возраста</span></div>
        <div class="popup__ask"><span>Вам уже есть 18 лет?</span></div>
        <div class="popup-buttons"><a href="#" class="btn btn--light">Да</a><a href="#" class="btn btn--light">Нет</a></div>
      </div>
      <div id="ask-2" class="popup zoom-anim-dialog mfp-hide">
        <div class="popup__title"><span>Извините, сайт доступен только для совершеннолетних</span></div>
        <div class="popup__ask"><span>Вам уже есть 18 лет?</span></div>
        <div class="popup-buttons"><a href="#" class="btn btn--light">Да</a><a href="#" class="btn btn--light">Нет</a></div>
      </div>
      <!-- END popup-->
      <!-- BEGIN vendor scripts-->
      <script src="/vendor/jquery/dist/jquery.min.js"></script>
      <script src="/vendor/swiper/dist/js/swiper.min.js"></script>
      <script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
      <script src="/vendor/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
      <script src="/vendor/owl.carousel/dist/owl.carousel.min.js"></script>
      <script src="https://use.fontawesome.com/d419eefe85.js"></script>
      <script src="http://api-maps.yandex.ru/2.1.17/?lang=ru_RU" type="text/javascript"></script>
      <!-- END vendor scripts-->
      <!-- BEGIN common.js-->
      <script src="/scripts/common.min.js"></script>
      <!-- END common.js-->
    </div>
  </body>
</html>

src/jade/template/template.jade
doctype
html
	head
		meta(charset = 'utf-8')
		meta(name="description" content="Aidar FrontEnd")
		meta(name="author" content="Aidar")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		link(rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon")
		link(rel="stylesheet" href="/css/vendor.min.css")
		link(rel="stylesheet" href="/css/common.min.css")
		title Beer
	body
		//BEGIN preloader
		#js-preloader.preloader
			.preloader__spinner
		//END preloader

		// BEGIN header
		.wrapper-bg
			header.header
				.wrapper
					.header-top
						span.header-worktime Время работы ПН-ВС с 11 до 23 ч.
						.header-social
							a(href="#" target="_blank").header-social__logo.insta
							a(href="#" target="_blank").header-social__logo.ok
							a(href="#" target="_blank").header-social__logo.vk
							a(href="#" target="_blank").header-social__logo.facebook
						span.header-phone +7 (915) 742-78-35
					ul.header-nav
						li: a(href="/") Главная
						li: a(href="/") Ассортимент
						li: a(href="/") Адреса магазинов
						li: a(href="/") Акции
						li: a(href="/") Новости
						li: a(href="/") Доставка
					.header-logo
						img.header-logo__img(src="/images/logo.png", alt="Логотип")						
			//END header

			// BEGIN main
			.main
				block content
			// END main

			// BEGIN footer
			
			footer.footer
				.wrapper
					.footer-wrap
						.footer-old
							img.footer-old__icon(src="/images/icons/18+.png", alt="18+")
						ul.footer-nav
							li: a(href="#ask-1").popup-with-move-anim Главная
							li: a(href="#ask-2").popup-with-move-anim Ассортимент
							li: a(href="/") Адреса магазинов
							li: a(href="/") Акции
							li: a(href="/") Новости
							li: a(href="/") Доставка
						.footer-address
							span.footer-address__title Адреса магазинов:
							ul.footer-address__item
								li ул. Пушкина, д. 3
								li ул. Карла Маркса, д.5, стр.4
								li ул. Карла Маркса, д.5, стр.4
						.footer-callback
							span.footer-callback__worktime Время работы ПН-ВС с 11 до 23 ч.
							span.footer-callback__phone +7 (000) 111-22-33
							a(href="#").footer-callback__mail info@damainame.ru
						.footer-social
							.footer-social-icons
								a(href="#" target="_blank").footer-social__logo.insta
								a(href="#" target="_blank").footer-social__logo.ok
								a(href="#" target="_blank").footer-social__logo.vk
								a(href="#" target="_blank").footer-social__logo.facebook
							.footer-webdev
								img(src="/images/icons/web-studio-logo.png", alt="web-agency-logo")
								span.footer-webdev__text Сайт создан <br> в Hawking Brothers




			// END footer
			// BEGIN popup
			#ask-1.popup.zoom-anim-dialog.mfp-hide
				.popup__title
					span Проверка возраста
				.popup__ask
					span Вам уже есть 18 лет?
				.popup-buttons
					a(href="#").btn.btn--light Да
					a(href="#").btn.btn--light Нет

			#ask-2.popup.zoom-anim-dialog.mfp-hide
				.popup__title
					span Извините, сайт доступен только для совершеннолетних
				.popup__ask
					span Вам уже есть 18 лет?
				.popup-buttons
					a(href="#").btn.btn--light Да
					a(href="#").btn.btn--light Нет

			// END popup
			// BEGIN vendor scripts
			script(src='/vendor/jquery/dist/jquery.min.js')
			script(src='/vendor/swiper/dist/js/swiper.min.js')
			script(src='/vendor/jquery-ui/jquery-ui.min.js')
			script(src="/vendor/magnific-popup/dist/jquery.magnific-popup.min.js")
			script(src="/vendor/owl.carousel/dist/owl.carousel.min.js")
			script(src="https://use.fontawesome.com/d419eefe85.js")
			script(src="http://api-maps.yandex.ru/2.1.17/?lang=ru_RU" type="text/javascript")
			// END vendor scripts
			
			// BEGIN common.js
			script(src='/scripts/common.min.js')
			// END common.js
